{% for resource in resources %}
    {% if resource %}
    <div class="clearfix">
        <span class="label label-primary">{{ resource.get_medium_display }}</span>
        <a href="{{ resource.link }}">
            <img src="{{ resource.image.url }}" class="img-responsive pull-left curriculum-img" width="250">
        </a>
        <a href="{{ resource.link }}"><h4>{{ resource.title }}</h4></a>
        <p>By {{ resource.creators }}</p>
        <p>{{ resource.description }}</p>
    </div>
    {% if not forloop.last %}<hr>{% endif %}
    {% endif %}
{% endfor %}