{% extends "base.html" %}{% load i18n %}

{% block meta_title %}{{ subject }}{% endblock %}
{% block title %}<h1>{{ subject }}</h1>{% endblock %}

{% block main %}
    <p>{{ subject.description }}</p>
    <h2>Start here:</h2>
    <hr>
    {% include 'curriculum/includes/_resource.html' with resources=recommended_resources %}
    {% if additional_resources %}
    <h2>Additional Resources:</h2>
    <hr>
    {% include 'curriculum/includes/_resource.html' with resources=additional_resources %}
    {% endif %}
{% endblock %}