{% load blog_tags keyword_tags mezzanine_tags i18n static %}
<h4><img src="{% static 'images/icons/computer_icon.png' %}" height="50px"> Can I Learn to Code?</h4>
<p>Programming tutorials and learning resources for people from non-technical backgrounds by a carpenter turned web developer.</p>
<p><a href="#">Learn more</a></p>

{% block blog_recent_posts %}
{% blog_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<h3>{% trans "Recent Posts" %}</h3>
<ul class="list-unstyled recent-posts">
{% for recent_post in recent_posts %}
<li>
    {% spaceless %}
    <a href="{{ recent_post.get_absolute_url }}">
        {% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
        <img src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 24 24 %}">
        {% endif %}
    {{ recent_post.title }}
    </a>
    {% endspaceless %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_months %}
{% endblock %}

{% block blog_categories %}
{% endblock %}

{% block blog_keywords %}
{% keywords_for blog.blogpost as tags %}
{% if tags %}
<h3>{% trans "Tags" %}</h3>
<ul class="list-inline tag-cloud">
{% for tag in tags %}
<li>
    <a href="{% url "blog_post_list_tag" tag.slug %}"
        class="tag-weight-{{ tag.weight }}">{{ tag }}</a>
    ({{ tag.item_count }})
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block blog_authors %}
{% blog_authors as authors %}
{% if authors %}
{% endif %}
{% endblock %}

{% block blog_feeds %}
{% endblock %}
