{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}<h1>Can I Learn to Code?</h1>{% endblock %}

{% block breadcrumb_menu %}
    <li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}
{% blocktrans %}
<h2>Welcome to canilearntocode.com!</h2>
<br>
<p>
    The answer is yes, by the way. Now more than ever, if you have the drive and determination, no matter who you are,
    no matter where you're from, you can learn to write code, build websites and develop software applications.
</p>
<p>
    As a self taught programmer myself who recently transitioned from a career in the construction industry to
    professional web development, this site is a journal of my own (ongoing) learning experience. I
    hope you find it useful.
</p>
<h3>How to use this site:</h3>
<br>
<p>
    The <a href="/curriculum/">curriculum</a> section provides a curated list of learning resources, for various topics in web development,
    software engineering and computer science. These books, courses and videos will help you go from total beginner
    to junior level developer.
</p>
<p>
    The <a href="/blog/">blog</a> includes notes on my own experiences entering the field of professional
    web development, hands-on tutorials on a variety of technical subjects, links to other useful articles
    and whatever random stuff I feel like posting.
</p>
<p>
    This site's <a href="/mission/">mission</a> is to provide a free resource for beginner and self-taught
    programmers to go beyond the basics and develop professional level skills. 
</p>
{% endblocktrans %}
{% endblock %}


