/* Font customizations */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}
p, div {
    font-family: 'Open Sans', sans-serif;
}

/* Navbar customizations */

body {
    padding-top: 180px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #4e4e4e;
}

.navbar-inverse {
    background-color: #F8F8F8;
    background-image: none;
    background-repeat: no-repeat;
    border-color: #E7E7E7;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #428bca;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    box-shadow: none;
    color: #428bca;
    background-color: transparent !important;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    box-shadow: none;
    color: #428bca;
    background-color: transparent !important;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-inverse .navbar-nav > .dropdown > a,
.navbar-inverse .navbar-nav > .dropdown > a:hover,
.navbar-inverse .navbar-nav > .dropdown > a:focus {
    box-shadow: none;
    color: #428bca;
    background-color: transparent !important;
    background-image: none;
    background-repeat: no-repeat;
}

.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    box-shadow: none;
    color: #333;
    background-color: transparent !important;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-brand {
    height: 140px;
}

.custom-nav-text {
    color: #4e4e4e;
}

.navbar-inverse .navbar-toggle {
    background-color: #4e4e4e;
}

/* Breadcrumb customizations */

.breadcrumb {
    background-color: rgba(221, 221, 221, 0.6);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
}

/* Image customizations */

.curriculum-img {
    margin-right: 20px !important;
    margin-bottom: 20px;
}

/* Icon customization */

.social-icon {
    margin-right: 40px;
}
