/* Font customizations */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}
p, div {
    font-family: 'Open Sans', sans-serif;
}

/* Navbar customizations */

body {
    padding-top: 100px;
}

.navbar-inverse {
    background-color: rgb(113, 178, 226);
    background-image: none;
    background-repeat: no-repeat;
    border-color: rgb(113, 178, 226);
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    text-decoration: underline;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    box-shadow: none;
    color: white;
    background-color: transparent !important;
    background-image: none;
    background-repeat: no-repeat;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    box-shadow: none;
    color: white;
    background-color: transparent !important;
    background-image: none;
    background-repeat: no-repeat;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav > .dropdown > a,
.navbar-inverse .navbar-nav > .dropdown > a:hover,
.navbar-inverse .navbar-nav > .dropdown > a:focus {
    box-shadow: none;
    color: white;
    background-color: transparent !important;
    background-image: none;
    background-repeat: no-repeat;
}

.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    box-shadow: none;
    color: #333;
    background-color: transparent !important;
    background-image: none;
    background-repeat: no-repeat;
    text-decoration: underline;
}
/* Sidebar customizations */

#left-column {
    padding-top: 20px;
}

#right-column {
    padding-top: 20px;
}

/* Breadcrumb customizations */

.breadcrumb {
    background-color: white;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
}
